<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pibparadaangelica.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pibsantalucia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35BF598C2512CE4B00BC99B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BF59A22512CE4E00BC99B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BF59AD2512CE4E00BC99B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BF59C02512CE5D00BC99B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
